body{
  margin-top:70px;
  font-size:16px;
}

h1,h2,h3,h4,h5,h6{
  font-family:Poppins;
}

p{
  font-family:Roboto;
}


/*TOP start*/
.top-img {
  margin:0 auto;
  width:100%;
  margin-top:50px;
  position:fixed
  background-size:cover;

}
/*TOP end*/

/*About me start */
.about-img {
  width:100%;
  margin-top:60px;
  
}

/*About me end*/

.container {
  text-align:center;
}


.navbar-default{
  background:#fff;
  border:0;
  font-family:Poppins;
}

.navbar-brand{
  font-size:20px;
  color:#000 !important;
  font-weight:bold;
}

#showcase h1{
  font-size:50px;
  margin-bottom:20px;
}

#showcase img{
  width:100%;
  margin: 0 auto;
}

#showcase .showcase-right{
  margin-top:90px;

}



.showcase-btn {

  color:#FEB2A8;

}

.showcase-btn::hover {
  color:#FE9C8F;
}


#showcase p{
padding-top:20px;
}

#testimonial{
  width:100%;
  margin:0 auto;
  padding: 50px 0 30px 0;
  text-align:center;
  margin-top:40px;
  background:url(../img/cafefukuoka.png);
  background-size:cover;
  position:fixed;
  
}





#testimonial p{
  font-size:32px;
  font-family: 'Josefin Sans';

 
}

.meigen {
  color:white;
}

#testimonial p.customer{
  font-size:20px;
  color:#FFFFFF;
}


/*About me start*/

.insta {
  display: flex;
  justify-content: center;
  align-items:center;
  margin-top:50px;
}
.btn-social-long-insta {

  /*ボタンの下地*/
  color: #FFF;/*文字・アイコン色*/
  border-radius: 7px;/*角丸に*/
  position: relative;
  display: inline-block;
  height: 50px;/*高さ*/
  width: 190px;/*幅*/
  text-align: center;/*中身を中央寄せ*/
  font-size: 25px;/*文字のサイズ*/
  line-height: 50px;/*高さと合わせる*/
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
  overflow: hidden;/*はみ出た部分を隠す*/
  text-decoration:none;/*下線は消す*/
}

.btn-social-long-insta:before {
  /*グラデーション②*/
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;/*全体を覆う*/
  height: 100%;/*全体を覆う*/
  background: linear-gradient(15deg, #ffdb2c, rgb(249, 118, 76) 25%, rgba(255, 77, 64, 0) 50%) no-repeat;
}

.btn-social-long-insta .fa-instagram {
  /*アイコン*/
  font-size: 35px;/*アイコンサイズ*/
  position: relative;
  top: 4px;/*アイコン位置の微調整*/
}

.btn-social-long-insta span {
  /*テキスト*/
  display:inline-block;
  position: relative;
  transition: .5s}

.btn-social-long-insta:hover span {
  /*ホバーで一周回転*/
  -webkit-transform: rotateY(360deg);
  transform: rot

  }
#info1 .info-right{
  margin-top:90px;
}


.info1 

.info-right p{
  padding-top:20px;
}
#info2{
  margin:20px 0 60px 0;
}








/*About me End*/

#contact{
  background:url(../img/image3.png);
  padding:40px;
  color:#fff;
  border-top:#333 7px solid;
  border-bottom:#333 7px solid;
  width:100%;
  margin:0 auto;
  
  right:0;
}




footer{
  padding:30px;
}






@media (min-width: 200px) and (max-width: 768px){

.top-img {
  width:100%;
  margin:0 auto;
}

}
